@import "./reset.css";
@font-face {
  font-family: "xeicon";
  src: url("./src/xeicon.ttf");
}
body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-x: hidden;
}
body h1 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
body h1 span {
  color: goldenrod;
}
body .info {
  width: 100%;
  height: auto;
}
body .info .info_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body .info .info_wrapper .info_imgwrap {
  background: rgba(255, 0, 0, 0.8);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
body .info .info_wrapper .info_imgwrap h1 {
  color: #fff;
  font-size: 1.5rem;
}
body .info .info_wrapper .info_imgwrap .emoticon {
  width: 30%;
  height: 30%;
}
body .info .info_wrapper .info_text {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body .info .info_wrapper .info_text h1 {
  font-size: 1.5rem;
}
body .info .info_wrapper .info_text .average {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 15px;
}
body .info .info_wrapper .info_text .average .average-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0 10px;
  height: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  line-height: 2;
}
body .info .info_wrapper .info_text .average .average-text:first-child {
  border-top: 1px solid #ccc;
  padding-top: 8px;
}
body .info .info_wrapper .info_text .average .average-text .aver {
  font-size: 1rem;
  font-weight: bold;
}
body .info .info_wrapper .info_text .average .average-text .title {
  color: black;
}
body .info .info_wrapper .info_text .average .average-text .MSRDT {
  color: black;
}
body .img_wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: 50vh;
  margin-bottom: 50px;
}
body .img_wrapper .map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1024px;
  height: 50vh;
  padding: 20px;
  margin: 0 auto;
}
body .img_wrapper .city {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font-weight: thin;
  background: black;
  color: #fff;
  border-radius: 30px;
  font-size: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .img_wrapper .jung-gu {
  top: 45%;
  left: 53%;
}
body .img_wrapper .jongno-gu {
  top: 34%;
  left: 47%;
}
body .img_wrapper .yongsan-gu {
  top: 54%;
  left: 46%;
}
body .img_wrapper .eunpyeong-gu {
  top: 26%;
  left: 37%;
}
body .img_wrapper .seodaemun-gu {
  top: 38%;
  left: 37%;
}
body .img_wrapper .mapo-gu {
  top: 48%;
  left: 33%;
}
body .img_wrapper .gwangjin-gu {
  top: 52%;
  left: 74%;
}
body .img_wrapper .seongdong-gu {
  top: 50%;
  left: 63%;
}
body .img_wrapper .jungnang-gu {
  top: 32%;
  left: 73%;
}
body .img_wrapper .dongdaemun-gu {
  top: 40%;
  left: 67%;
}
body .img_wrapper .seongbuk-gu {
  top: 35%;
  left: 58%;
}
body .img_wrapper .dobong-gu {
  top: 13%;
  left: 62%;
}
body .img_wrapper .gangbuk-gu {
  top: 21%;
  left: 56%;
}
body .img_wrapper .nowon-gu {
  top: 20%;
  left: 70%;
}
body .img_wrapper .gangseo-gu {
  top: 45%;
  left: 13%;
}
body .img_wrapper .guro-gu {
  top: 68%;
  left: 18%;
}
body .img_wrapper .yeongdeungpo-gu {
  top: 61%;
  left: 32%;
}
body .img_wrapper .dongjak-gu {
  top: 65%;
  left: 43%;
}
body .img_wrapper .gwanak-gu {
  top: 76%;
  left: 42%;
}
body .img_wrapper .geumcheon-gu {
  top: 75%;
  left: 31%;
}
body .img_wrapper .yangcheon-gu {
  top: 57%;
  left: 20%;
}
body .img_wrapper .gangnam-gu {
  top: 70%;
  left: 68%;
}
body .img_wrapper .seocho-gu {
  top: 73%;
  left: 56%;
}
body .img_wrapper .songpa-gu {
  top: 66%;
  left: 80%;
}
body .img_wrapper .gangdong-gu {
  top: 50%;
  left: 87%;
}
body .img_wrapper h1 {
  width: 100%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
}
body .modal {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 200vh;
}
body .modal .modalContent {
  position: absolute;
  width: 80%;
  height: 46%;
  background: aliceblue;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -80%);
}
body .modal .modalContent .modal_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12%;
}
body .modal .modalContent .modal_text .modalInfo {
  display: flex;
  flex-direction: column;
}
body .modal .modalContent .modal_text .modalInfo .modInfo-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 25px 10px 25px 10px;
  font-size: 1rem;
  font-weight: bold;
}
body .modal .modalContent .modal_text .modalInfo .modInfo-text:first-child {
  border-top: 1px solid #ccc;
}
body .modal .modalContent .modal_text .modalInfo .modInfo-text .modInfo {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1rem;
}
body .modal #close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
  color: #7a7a7a;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
body .modal .close {
  font-family: xeicon;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
}
body .modal .close::before {
  content: "\e921";
}/*# sourceMappingURL=style.css.map */